{% extends "base.jinja" %}

{% block title %}
  Search
{% endblock  %}

{% block content %}
  <h1 class="text-lg-center">
    {% if query["term"] == "" %}
      Search
    {% else %}
      You searched for: 
      {{ query["term"] }}
    {% endif %}
  </h1>
  <div class="col-lg-9 mx-auto mt-5">
    {% for result in results %}
      <div class="card mb-3">
        {# <img src="https://via.placeholder.com/150" class="card-img-top" alt="..."> #}
        <div class="card-body">
          <a href="{{ url_for('users.user', id=result['user_id']) }}">
            <h5 class="card-title">{{ result["first_name"] }} {{ result["last_name"] }}</h5>
          </a>
          <p class="card-text">{{ result["username"] }}</p>
          {# <a href="#" class="btn btn-primary">View Profile</a> #}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: {{ result["email"] }}</li>
          <li class="list-group-item">Phone: {{ result["phone"] }}</li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}